<!-- Page Wrapper -->
<div id="wrapper">

   <!-- sidebar -->
   <app-sidebar></app-sidebar>
   <!-- fin de sidebar -->

   <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

         <!-- header -->
         <app-header></app-header>
         <!-- fin del header -->

         <!-- Begin Page Content -->
         <div class="container-fluid">

            <router-outlet></router-outlet>
            
         </div>
         <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- footer -->
      <app-footer></app-footer>
      <!-- fn de footer -->

   </div>
   <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->