<div class="container-fluid">

   <h2 class="text-gray-800 text-left">
      <i class="fas fa-users"></i>
      Usuarios
   </h2>

   <br>

   <!-- DataTales Example -->
   <div class="card shadow mb-4">
      <div class="card-header py-3">

         <div class="row">

            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar...">
                  <div class="input-group-append">
                     <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                     </button>
                  </div>
               </div>
            </div>

            <div class="col-md-2">
               <select class="form-control">
                  <option value="">Ninguno...</option>
                  <option value="true">Habilitados</option>
                  <option value="false">Deshabilitados</option>
               </select>
            </div>

            <div class="offset-md-5 col-md-2" style="text-align: right;">
               <button class="btn btn-primary btn-icon-split" tooltip="Agregar" placement="top">
                  <span class="icon text-white-50">
                     <i class="fas fa-plus"></i>
                  </span>
                  <span class="text font-weight-bold">Agregar usuario</span>
               </button>
            </div>

         </div>

      </div>
      <div class="card-body">

         <div class="table-responsive">
            <table class="table table-bordered" width="100%">
               <thead class="thead-light">
                  <tr>
                     <th width="20%">Nombre completo</th>
                     <th width="20%">Email</th>
                     <th width="20%">Teléfono</th>
                     <th width="20%">Perfil</th>
                     <th width="10%">Habilitado</th>
                     <th width="10%">Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Donna Snider</td>
                     <td>Customer Support</td>
                     <td>New York</td>
                     <td>27</td>
                     <td>27</td>
                     <td>
                        <button class="btn btn-success btn-circle" tooltip="Editar">
                           <i class="fas fa-edit"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-circle" tooltip="Eliminar">
                           <i class="fas fa-trash-alt"></i>
                        </button>
                     </td>
                  </tr>
                  <tr>
                     <td>Donna Snider</td>
                     <td>Customer Support</td>
                     <td>New York</td>
                     <td>27</td>
                     <td>27</td>
                     <td>
                        <button class="btn btn-success btn-circle" tooltip="Editar">
                           <i class="fas fa-edit"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-circle" tooltip="Eliminar">
                           <i class="fas fa-trash-alt"></i>
                        </button>
                     </td>
                  </tr>
                  <tr>
                     <td>Donna Snider</td>
                     <td>Customer Support</td>
                     <td>New York</td>
                     <td>27</td>
                     <td>27</td>
                     <td>
                        <button class="btn btn-success btn-circle" tooltip="Editar">
                           <i class="fas fa-edit"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-circle" tooltip="Eliminar">
                           <i class="fas fa-trash-alt"></i>
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>

            <button class="btn btn-primary btn-block">
               <i class="fas fa-arrow-down"></i> Ver más registros
            </button>

         </div>

      </div>
   </div>

</div>