<loader [loader]="loader"></loader>

<div class="container-fluid">

   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h2 class="text-gray-800">
         <i class="fas fa-users"></i>
         Usuarios
      </h2>

      <button (click)="modalCreateUser.showModal()" class="btn btn-primary btn-icon-split">
         <span class="icon text-white">
            <i class="fas fa-plus"></i>
         </span>
         <span class="text font-weight-bold">Nuevo usuario</span>
      </button>
   </div>

   <br>

   <!-- DataTales Example -->
   <div class="card shadow mb-4">
      <div class="card-header py-3">

         <div class="row">

            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterFields.search" #ctrl="ngModel" tooltip="Búsqueda por nombre completo, email, telefóno">
                  <div class="input-group-append">
                     <button (click)="initFilter(filterFields)" class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                     </button>
                  </div>
               </div>
            </div>

            <div class="col-md-2">
               <select class="form-control" [(ngModel)]="filterFields.profile" #ctrl="ngModel" (change)="initFilter(filterFields)">
                  <option value="">Ningún perfil...</option>
                  <option *ngFor="let profile of cmbProfiles" [value]="profile.id">{{ profile.name }}</option>
               </select>
            </div>

            <div class="col-md-2">
               <select class="form-control" [(ngModel)]="filterFields.enabled" #ctrl="ngModel" (change)="initFilter(filterFields)">
                  <option value="true">Habilitados</option>
                  <option value="false">Deshabilitados</option>
               </select>
            </div>

            <div class="offset-md-3 col-md-2 text-right">
               <button (click)="resetFilter()" class="btn btn-primary btn-circle" tooltip="Limpiar filtro" placement="left">
                  <i class="fas fa-broom"></i>
                </button>
            </div>

         </div>

      </div>
      <div class="card-body">

         <div class="table-responsive">
            <table class="table table-bordered" width="100%">
               <thead class="thead-light">
                  <tr>
                     <th width="20%">Nombre completo</th>
                     <th width="20%">Email</th>
                     <th width="20%">Teléfono</th>
                     <th width="15%">Perfil</th>
                     <th width="15%">Estado</th>
                     <th width="10%">Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let user of listUsers; let i = index">
                     <td (click)="modalEditUser.showModal(user, i)" style="cursor: pointer;">{{ user.name }} {{ user.lastname }}</td>
                     <td (click)="modalEditUser.showModal(user, i)" style="cursor: pointer;">{{ user.email }}</td>
                     <td (click)="modalEditUser.showModal(user, i)" style="cursor: pointer;">{{ user.phone }}</td>
                     <td (click)="modalEditUser.showModal(user, i)" style="cursor: pointer;">{{ user.profile.name }}</td>
                     <td>
                        <span class="badge" [ngClass]="{ 'badge-success': user.enabled, 'badge-warning': !user.enabled }">{{ user.enabled ? 'Habilitado' : 'Deshabilitado' }}</span>
                     </td>
                     <td>
                        <button (click)="modalEditUser.showModal(user, i)" class="btn btn-info btn-circle" tooltip="Modificar">
                           <i class="fas fa-edit"></i>
                        </button>

                        <span *ngIf="user.enabled">
                           &nbsp;
                           <button (click)="confirmChangeStatus(user, i, false)" class="btn btn-warning btn-circle" tooltip="Deshabilitar">
                              <i class="fas fa-user-minus"></i>
                           </button>            
                        </span>

                        <span *ngIf="!user.enabled">
                           &nbsp;
                           <button (click)="confirmChangeStatus(user, i, true)" class="btn btn-success btn-circle" tooltip="Habilitar">
                              <i class="fas fa-user-plus"></i>
                           </button>
                        </span>
                     </td>
                  </tr>
               </tbody>
            </table>

            <h2 *ngIf="emptyList" class="text-center">
               No hay resultados para la búsqueda <br><br>
            </h2>

            <button *ngIf="nextPage" (click)="doSearch(filterFields)" class="btn btn-primary btn-block font-weight-bold">
               <i class="fas fa-arrow-down"></i> Ver más registros
            </button>

         </div>

      </div>
   </div>

</div>

<!-- create user -->
<create-user #modalCreateUser [cmbProfiles]="cmbProfiles" (dispatchEvent)="filter()"></create-user>

<!-- edit user -->
<edit-user #modalEditUser [cmbProfiles]="cmbProfiles" (dispatchEvent)="updateList($event)"></edit-user>

<!-- modal confirm operation -->
<modal-confirm #modalConfirm (confirmOperation)="confirmOperation()" (declineOperation)="declineOperation()"></modal-confirm>